<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fa fa-user"></i>
        </div>
        <div class="sidebar-brand-text mx-3">{{ env('APP_NAME', 'App') }}</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    {# <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="{{ path_for('dashboard') }}">
            <i class="fa fa-fw fa-dashboard"></i>
            <span>Dashboard</span></a>
    </li> #}

    <!-- Nav Item - Tenant -->
    <li class="nav-item">
        {% if user()['tenant_id'] <= 0 %}
            <a class="nav-link" href="{{ path_for('tenant') }}">
                <i class="fa fa-fw fa-building-o"></i>
                Tenant
            </a>
        {% else %}
            <a class="nav-link" href="{{ path_for('detailTenant', {id: user()['tenant_id']}) }}">
                <i class="fa fa-fw fa-building-o"></i>
                Tenant
            </a>
        {% endif %}
    </li>

    <!-- Nav Item - Logger -->
    <li class="nav-item">
        <a class="nav-link" href="{{ path_for('logger') }}">
            <i class="fa fa-fw fa-list-alt"></i>
            Logger
        </a>
    </li>

    {% if user()['tenant_id'] <= 0 %}
        <!-- Nav Item - User -->
        <li class="nav-item">
            <a class="nav-link" href="{{ path_for('users') }}">
                <i class="fa fa-fw fa-users"></i>
                Users
            </a>
        </li>
    {% endif %}

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block mb-0">

    <!-- Nav Item - Logout -->
    <li class="nav-item">
        <form action="{{ path_for('logout') }}" method="post" id="form-logout"></form>
        <a class="nav-link" href="#" onclick="$('#form-logout').submit()">
            <i class="fa fa-fw fa-sign-out"></i>
            Logout
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->