{% extends 'layouts/master.html' %}

{% set title = 'Logger' %}

{% block content %}

<!-- Page Heading -->
<div class="d-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800">Logger</h1>
	{% if user()['tenant_id'] > 0 %}
		<a href="{{ path_for('addLogger') }}?t={{ user()['tenant_id'] }}" class="btn btn-primary" id="btn-create">Add new</a>
	{% else %}
		<a href="{{ path_for('addLogger') }}" class="btn btn-primary" id="btn-create">Add new</a>
	{% endif %}
</div>

<div class="card">
	<div class="card-body p-0">
		<table class="table table-hover table-bordered text-dark mb-0">
			<thead>
				<tr>
					<th class="align-top text-center">#</th>
					<th class="align-top text-center">Tenant</th>
					<th class="align-top text-center">SN</th>
					<th class="align-top text-center">Loc. ID</th>
					<th class="align-top text-center">Aksi</th>
				</tr>
			</thead>
			<tbody>
				{% for logger in loggers %}
				<tr>
					<td class="text-right">{{ loop.index }}</td>
					<td>
						<h3 class="h6 mb-0 font-weight-bold"><a href="{{ path_for('detailTenant', {'id': logger.tenant_id}) }}" class="">{{ logger.nama_tenant }}</a></h3>
					</td>
					<td class="text-center">
						<h3 class="h6 mb-0">{{ logger.sn }}</h3>
					</td>
					<td class="text-right">
						<h3 class="h6 mb-0">{{ logger.location_id ?: '' }}</h3>
					</td>
					<td class="text-center w-auto">
						{# <form class="d-inline" action="{{ path_for('deleteLogger', {id: logger.id}) }}" method="post" onsubmit="return confirmDelete('{{ logger.sn }}')">
							<button class="btn btn-danger btn-icon-split" role="button">
								<span class="text">Delete</span>
								<span class="icon text-white-50"><i class="fa fa-trash text-white-50"></i></span>
							</button>
						</form> #}
						<a href="{{ path_for('editLogger', {'id': logger.id}) }}" class="btn btn-warning btn-sm btn-icon-split" role="button">
							<span class="icon"><i class="fa fa-edit"></i></span>
							<span class="text">Edit</span>
						</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}

{% block js %}
<script>
	$(function () {
		document.getElementById('btn-create').focus();
	})

	confirmDelete = function(sn) {
		return confirm("Hapus logger "+ sn +" permanen?");
	}
</script>
{% endblock %}